.Button {
  max-width: 300px;
  min-width: 80px;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    background-color: var(--button-primary-color);
    color: white;
    border: 1px solid var(--button-primary-color);
  }

  &.secondary {
    background-color: var(--button-secondary-color);
    color: white;
    border: 1px solid var(--button-secondary-color);
  }

  &.danger {
    background-color: var(--button-danger-color);
    color: white;
    border: 1px solid var(--button-danger-color);
  }

  &.outline {
    background-color: transparent;
    border: 1px solid #bdc3c7;
    color: var(--button-outline-color);
  }
}
